# Airflow & logs
airflow/*.pid
airflow/*.db
airflow/logs/

# Virtual env
venv/
.venv/
.airflow-venv/
mlops/bin/
mlops/lib/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/
.coverage
htmlcov/
.tox/
.nox/

# Artifacts
mlruns/
mlartifacts/
mlflow.db
model_pipeline/mlruns/
model_pipeline/*_saved/
model_pipeline/predicted/
data_pipeline/raw/
data_pipeline/processed/
data_pipeline/labeled/
model_pipeline/test_data.csv
validated_runs.json
latest_runs.json
*.log
logs/
artifacts/
outputs/
build/
dist/
*.egg-info/

# OS and other IDE metadata
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env, configs
.env
**/.env
data_pipeline/cookies/
*.yaml
lib/
*.conda
/bin
model_pipeline_tpa/
